.backgroundimage{
    background:url('/images/backgroundpic.png');
    position: relative;
    z-index: 0;
}

.backgroundcolor{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 68.5%;
    background: rgba(231, 206, 215, 0.7);
}

#firstlastname{
    position: absolute;
    z-index: 3;
    width: 1497px;
    height: 82px;
    left: -20px;
    top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    line-height: 95px;
    text-align: center;
    color: #444444;
}

#positiontitle{
    position: absolute;
    z-index: 3;
    width: 1497px;
    height: 82px;
    left: -1px;
    top: 250px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #444444;
}

.mywork{
    background: #E5E5E5;
}

#projects-text{
    position: absolute;
    width: 1497px;
    height: 82px;
    left: -20px;
    top: 520px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 83px;
    text-align: center;
    color: #444444;
}

#videosupreme{
    position: absolute;
    z-index: 1;
    top: 740px;
    left: 302px;
}

#supremeback-color{
    position: absolute;
    z-index: 0;
    width: 480px;
    height: 352px;
    left: 269px;
    top: 753px;
    background: #FD69B4;
}

#supreme-text{
    position: absolute;
    width: 394px;
    height: 31px;
    left: 792px;
    top: 720px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 37px;
    color: #FD69B4;
}

#frameworks-supreme{
    position: absolute;
    width: 401px;
    height: 29px;
    left: 793px;
    top: 760px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #444444;
}

#supreme-roles{
    position: absolute;
    width: 387px;
    height: 141px;
    left: 793px;
    top: 820px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    color: #444444;
}



#supreme-button{
    position: absolute;
    left: 60px;
    right: 0px;
    top: 210px;
    bottom: 0px;
    background: #FD69B4;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
    border-radius: 8px;
    width: 220px;
    height: 65px;
}

.view-web-text{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 2px;
    left: 45px;
    top: -6px;
    font-family: 'Montserrat', sans-serif;
}

#revive-text{
    position: absolute;
    width: 394px;
    height: 31px;
    left: 265px;
    top: 1170px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 34px;
    color: #E30052;
}

#frameworks-revive{
    position: absolute;
    width: 401px;
    height: 29px;
    left: 270px;
    top: 1209px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #444444;
}

#revive-roles{
    position: absolute;
    width: 394px;
    height: 141px;
    right: 520px;
    top: 460px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    color: #444444;
}

#revive-button{
    position: absolute;
    left: 50px;
    right: 0px;
    top: 255px;
    bottom: 0px;
    width: 220px;
    height: 65px;
    background: #E30052;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
    border-radius: 8px;
}

.view-web-text2{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: -4px;
    left: 40px;
    font-family: 'Montserrat', sans-serif;
}

#revive-video{
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 380px;
}

#reviveback-color{
    position: absolute;
    z-index: 0;
    width: 480px;
    height: 352px;
    left: 5px;
    top: 390px;
    background: #E30052;
}

#hoopers-video{
    position: absolute;
    z-index: 1;
    width: 414px;
    height: 324px;
    left: 288px;
    top: 1644px;
}

#hoopersback-color{
    position: absolute;
    z-index: 0;
    width: 480px;
    height: 352px;
    left: 255px;
    top: 1650px;
    background: #FC1393;
}

#hoopers-text{
    position: absolute;
    width: 394px;
    height: 31px;
    left: 792px;
    top: 1620px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 34px;
    color: #FC1393;
}

#frameworks-hoopers{
    position: absolute;
    width: 401px;
    height: 29px;
    left: 800px;
    top: 1660px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #444444;
}

.hoopers-roles{
    position: absolute;
    width: 394px;
    height: 141px;
    left: 793px;
    top: 1730px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    color: #444444;
}

#hoopers-button{
    position: absolute;
    left: 850px;
    right: 0px;
    top: 1940px;
    bottom: 0px;
    background: #FC1393;
    box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
    border-radius: 8px;
    width: 220px;
    height: 65px;
}

.view-git-text{
    position: absolute;
    bottom: -2px;
    right: -8px;
    left: -5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

